{% block content %}
    <h1>change password</h1>

    {% if error %}
        <span style="color: red">{{ error }}</span>
    {% endif %}

    <form method="post">
        <div>
            <label for="password">new password</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    required
                    autocomplete="new-password"
            >
        </div>

        <div>
            <label for="retype">retype password</label>
            <input
                    type="password"
                    id="retype"
                    name="retype"
                    required
                    autocomplete="new-password"
            >
        </div>

        <button type="submit">change password</button>
    </form>
{% endblock %}